# Testing
Project relies on different types of testing for different purposes:
- **Unit Tests**: Used for testing small units of code. Perfect for testing individual opcode handler functions.
- **Integration Tests**: Used to test how several pieces of the system work together. I will use it to test the interactions between memory, CPU, and registers.
- **End-to-End Tests**: Running the final executable as a whole. I will use popular testing ROMs and add screenshots as results.

## TODO:
- Pick a framework/library for unit testing
- Modify the Makefile to automate common testing workflows
- Find ROMs that are accepted as standard for CHIP8 emulator testing and perform the tests

